C:/Users/Pedro[[:space:]]Lucas/Desktop/EventSpace filter=lfs diff=lfs merge=lfs -text
C:/Users/Pedro[[:space:]]Lucas/Documents/MeusRepo/ProjetoEvent.zip filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
