/* =========================================
   CONFIGURAÇÕES GERAIS
========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, sans-serif;

    min-height: 100vh;

    background-image:
            linear-gradient(
                    135deg,
                    #141e30,
                    #243b55
            );

    display: flex;

    justify-content: center;

    align-items: center;
}


/* =========================================
   CONTAINER PRINCIPAL
========================================= */

.container {

    width: 100%;

    min-height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;
}


/* =========================================
   CAIXA DE LOGIN
========================================= */

.login-container {

    width: 100%;

    max-width: 420px;

    background: white;

    padding: 45px;

    border-radius: 18px;

    box-shadow:
            0 20px 60px
            rgba(0, 0, 0, 0.35);
}


/* =========================================
   TÍTULO
========================================= */

.login-container h1 {

    text-align: center;

    color: #243b55;

    font-size: 30px;

    margin-bottom: 10px;
}


.subtitulo {

    text-align: center;

    color: #777;

    margin-bottom: 35px;

    font-size: 16px;
}


/* =========================================
   CAMPOS
========================================= */

.campo {

    display: flex;

    flex-direction: column;

    margin-bottom: 22px;
}


.campo label {

    margin-bottom: 8px;

    font-weight: bold;

    color: #333;
}


.campo input {

    width: 100%;

    padding: 14px;

    border:

            1px solid #ddd;

    border-radius: 8px;

    font-size: 15px;

    outline: none;

    transition: 0.3s;
}


/* Efeito ao clicar no campo */

.campo input:focus {

    border-color: #243b55;

    box-shadow:

            0 0 0 3px
            rgba(36, 59, 85, 0.15);
}


/* =========================================
   BOTÃO
========================================= */

button.logincadastro {

    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 8px;

    background:

            linear-gradient(
                    135deg,
                    #243b55,
                    #141e30
            );

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}


button:hover {

    transform: translateY(-2px);

    box-shadow:

            0 10px 20px
            rgba(0, 0, 0, 0.2);
}


button:active {

    transform: translateY(0);
}


/* =========================================
   CADASTRO
========================================= */

.cadastro {

    text-align: center;

    margin-top: 25px;

    color: #666;
}


.cadastro a {

    color: #243b55;

    font-weight: bold;

    text-decoration: none;
}


.cadastro a:hover {

    text-decoration: underline;
}


/* =========================================
   RESPONSIVIDADE
========================================= */

@media (max-width: 500px) {

    .login-container {

        padding: 30px 25px;

    }


    .login-container h1 {

        font-size: 25px;

    }

}

/* =========================================
   Dashboard
========================================= */

.Dashboard{

    width: 85%;
    height: 85vh;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;

}

.painel{

    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    width: 450px;
    height: 250px;
    box-sizing: border-box;
    place-content: center;
    place-items: center;
    display: flex;

}

.painel img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;

}

.menu{

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    place-items: center;
    position: absolute;
    z-index: 10;
    top: 7px;

    width: 85%;
    height: 5vh;
}

.btnmenu{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 28px;
    font-size: 15px;
    font-family: sans-serif;
    color: #8b9bb4; /* Cor do texto quando inativo */
    text-decoration: none;
    border-radius: 10px; /* Arredondamento */
}

.btnmenu a {

    text-decoration: none;
    color: #ddd;

}

.btnmenu.active{

    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    

}